body {
}
.foter {
    display: flex;
    color: white;
    height: 50vh;
    background-color: #1B1C20;

  
}


.parallax__group-foter {
    height: 50vh;
    position: relative;
    transform-style: preserve-3d;
    top:0;
    z-index:1;
}
.parallax__layer-foter {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}


.parallax__layer--back-foter {
    transform: translateZ(-1px) scale(2);
}
.parallax__layer--deep-foter {
    transform: translateZ(-2px) scale(3.07);
    
}