p {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 2vw;
    text-align: right;
    margin-right: 3vw;
    text-shadow: 2px 2px 5px black;
    margin-bottom: -4vh;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 18vw;
    color: white;
    text-align: right;
    margin-right: 1vw;
    text-shadow: 2px 2px 5px black;
    line-height: 12vw;
    margin-bottom: 7vh;
}
.img-logo {
    width: 17vh;
    position: fixed;
    top: -30vh;
    left: calc(50vw - 17vh/2);
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3vh;
    color: white;
    text-align: left;
    margin-left: 2vh;
    text-shadow: 2px 2px 5px black;
    margin-top: 16px;
}
.text-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    margin-top: -35vh;
}
.form-home {
    height: 101vh;
    color: black;
}



.form-submit {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 93vh;
    padding: 20px;
    align-items: center;
    width: 100%;
}
.input-mini {
    font-family: 'Roboto', sans-serif;
    height: 45px;
    font-size: 18pt;
    border-radius: 5px;
    padding: 30px;
    border-style: none;
    width: 100%;
    min-width: 370px;
}
.input-max {
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    height: 40vh;
    border-radius: 5px;
    min-width: 370px;
    width: 100%;
}
    .input-max::-webkit-scrollbar{
        background-color: white;
        width: 8px;
    }
    .input-max::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #808080;
        border: solid 2px white;
    }


body {
    margin-bottom: -500px;
}
    .submit-block {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        max-width: 700px;
    }
.input-button {
    border-style: none;
    color: white;
    background-color: #409FFF;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    width: 300px;
    font-size: 20pt;
    margin: 10px 30px;
    min-height: 80px;
}
.parallax__group {
    position: relative;
    height: 200vh;
    transform-style: preserve-3d;
    z-index: 2;
}



.parallax__layer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer--base {
    transform: translateZ(0);
    top: 100vh;
    background-color: #313338;
    box-shadow: 0 0 10px rgba(4,4,0,4);
    border: 10px;
}

.parallax__layer--deep {
    top: -50vh;
    transform: translateZ(-2px) scale(3);
    background-image: url(./img/mountains.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 125vh
}

.parallax__layer--back {
    top: 0;
    margin-top: 45vh;
    transform: translateZ(-1px) scale(2);
    height: 100vh
}


@media (max-width: 765px) {
    body {
        margin-top: -50px;
    }
    h1 {
      
        font-size: 50pt;
        color: white;
        text-align: center;
        
    }
    p {
        font-size: 15pt;
        text-align: center;
        margin-bottom: -3vh;
    }
}

@media (max-width: 320px) {
    body{
        margin-top: -50px;
    }

    h1 {
        font-size: 40pt;
        text-align: center;
    }
    p {
        font-size: 15pt;
        text-align: center;
        margin-bottom: -3vh;
    }
}
