<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RequestAdaptationFatClient.Properties.Settings.u0831431_RequestAdaptationConnectionString"
            connectionString="Data Source=31.31.196.234;Initial Catalog=u0831431_RequestAdaptation;Persist Security Info=True;User ID=u0831431_LantaAdmin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>